In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.metrics import mean_squared_error

### Pitching Data  
This will be the source of our statistics.

In [2]:
pitching_df = pd.read_csv("db/Pitching.csv")

Let's combine all multiple-stint years into one row.  Although we aren't concerned with per-team statistics, for better or worse we need per-league stats.

In [3]:
pitching_df = pitching_df.groupby(["playerID","yearID","lgID"],as_index=False).sum()

In [4]:
pitching_df.head(10)

,playerID,yearID,lgID,stint,W,L,G,GS,CG,SHO,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,aardsda01,2004,NL,1,1,0,11,0,0,0,...,0.0,0,2.0,0,61.0,5,8,0.0,1.0,1.0
1,aardsda01,2006,NL,1,3,0,45,0,0,0,...,0.0,1,1.0,0,225.0,9,25,1.0,3.0,2.0
2,aardsda01,2007,AL,1,2,1,25,0,0,0,...,3.0,2,1.0,0,151.0,7,24,2.0,1.0,1.0
3,aardsda01,2008,AL,1,4,2,47,0,0,0,...,2.0,3,5.0,0,228.0,7,32,3.0,2.0,4.0
4,aardsda01,2009,AL,1,3,6,73,0,0,0,...,3.0,2,0.0,0,296.0,53,23,2.0,1.0,2.0
5,aardsda01,2010,AL,1,0,6,53,0,0,0,...,5.0,2,2.0,0,202.0,43,19,7.0,1.0,5.0
6,aardsda01,2012,AL,1,0,0,1,0,0,0,...,0.0,0,0.0,0,5.0,1,1,0.0,0.0,0.0
7,aardsda01,2013,NL,1,2,2,43,0,0,0,...,6.0,1,4.0,1,178.0,7,20,2.0,1.0,2.0
8,aardsda01,2015,NL,1,1,1,33,0,0,0,...,3.0,1,1.0,0,129.0,9,17,0.0,1.0,4.0
9,aasedo01,1977,AL,1,6,2,13,13,4,2,...,1.0,0,1.0,0,373.0,0,36,2.0,3.0,7.0

Reduce clutter by discarding unneeded columns

In [5]:
del pitching_df["stint"]
del pitching_df["HR"]
del pitching_df["BAOpp"]
del pitching_df["WP"]
del pitching_df["HBP"]
del pitching_df["BK"]
del pitching_df["BFP"]
del pitching_df["GF"]
del pitching_df["R"]
del pitching_df["SH"]
del pitching_df["SF"]
del pitching_df["GIDP"]
pitching_df.head(10)

,playerID,yearID,lgID,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,BB,SO,ERA,IBB
0,aardsda01,2004,NL,1,0,11,0,0,0,0,32,20,8,10,5,6.75,0.0
1,aardsda01,2006,NL,3,0,45,0,0,0,0,159,41,24,28,49,4.08,0.0
2,aardsda01,2007,AL,2,1,25,0,0,0,0,97,39,23,17,36,6.40,3.0
3,aardsda01,2008,AL,4,2,47,0,0,0,0,146,49,30,35,49,5.55,2.0
4,aardsda01,2009,AL,3,6,73,0,0,0,38,214,49,20,34,80,2.52,3.0
5,aardsda01,2010,AL,0,6,53,0,0,0,31,149,33,19,25,49,3.44,5.0
6,aardsda01,2012,AL,0,0,1,0,0,0,0,3,1,1,1,1,9.00,0.0
7,aardsda01,2013,NL,2,2,43,0,0,0,0,119,39,19,19,36,4.31,6.0
8,aardsda01,2015,NL,1,1,33,0,0,0,0,92,25,16,14,35,4.70,3.0
9,aasedo01,1977,AL,6,2,13,13,4,2,0,277,85,32,19,49,3.12,1.0

Write Out the File, as we have a lot of processing in Excel to do

In [6]:
pitching_df.to_csv("db/pitching_phase2.csv", index=False, header=True)

In [7]:
#pitching_df = pitching_df.groupby(["playerID"],as_index=False).sum()

In [8]:
#pitching_df.to_csv("db/pitching_career_stats.csv", index=False, header=True)